xml/xml/testSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/testSchema" xmlns:tns="http://www.example.org/testSchema" elementFormDefault="qualified">
<element name="student">
  <complexType>
    <sequence>
      <element name="name" type="string"/>
      <element name="regNo" type="string"/>
      <element name="course" type="string"/>
     
    </sequence>
  </complexType>
  </element>
 
</schema>